.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

input {
  width: 250px;
  font-size: 12px;

  height: 30px;
  font-size: 12px;
}

ul {
  width: 250px;
  list-style: none;
  text-align: left;
  position: absolute;
  border: 1px solid black;
  background-color: white;
  box-shadow: 0 0 5px 2px #fff;
  padding: 5px;
}

ul li {
  margin: 5px;

}

ul li:hover {
  background-color: aliceblue;
  cursor: pointer;
}